//main content

.main-content {
  max-width: $max-1000;
  margin: $top-bottom-0-auto;
  padding: $spacing-2;

  .image-block {
    padding-top: $spacing-2;
    padding-bottom: $spacing-3;

    img {
      box-shadow: $box-shadow;
    }
  }
  .feedback-highlight {
    box-sizing: border-box;
    background-color: $primary-mint;
    box-shadow: $box-shadow;
    max-width: $max-650;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: $top-bottom-2;
    padding: $spacing-1-5;

    .feedback-text {
      font-size: 1em;
      font-style: italic;
      width: 90%;
      align-self: flex-start;
      margin: $top-bottom-1-auto;
    }
    .feedback-author {
      font-size: 0.8em;
      align-self: flex-start;
      width: 90%;
      margin: $top-bottom-05-auto;
    }

    img {
      height: $max-70;
      width: auto;
      padding: $top-bottom-1;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .img-text {
    max-width: 100%;
  }

  p {
    max-width: $max-650;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    padding: 4em 2em 6em 2em;

    .feedback-highlight {
      display: grid;
      grid-template-columns: 1fr 20%;
      padding: $spacing-2;

      img{
        grid-column: 2;
        justify-self: end;
      }

      .feedback-highlight-content{
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}
