//main content 

.main-content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;

    img{
        width: 100%;
        height: auto;
    }

    h2{
        padding: 1rem 0;
    }
    
    .img-text{
        max-width: 100%;
    }
    
    p{
        padding: 1rem 0;
        max-width: 650px;

        
    }

    
}