//main content

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;

  .image-block {
    padding-top: 2em;
    padding-bottom: 3em;

    img {
      box-shadow: 0 2px 4px rgba($primary-digital-black, 0.2);
    }
  }
  .feedback-highlight {
    box-sizing: border-box;
    background-color: $primary-mint;
    box-shadow: 0 2px 4px rgba($primary-digital-black, 0.2);
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em 0;
    padding: 1.5em;

    .feedback-text {
      font-size: 1em;
      font-style: italic;
      width: 90%;
      align-self: flex-start;
      margin: 1em auto;
    }
    .feedback-author {
      font-size: 0.8em;
      align-self: flex-start;
      width: 90%;
      margin: 0.5em auto;
    }

    img {
      height: 70px;
      width: auto;
      padding: 1em 0;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .img-text {
    max-width: 100%;
  }

  p {
    max-width: 650px;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    padding: 4em 2em 6em 2em;

    .feedback-highlight {
      display: grid;
      grid-template-columns: 1fr 20%;
      padding: 2em;

      img{
        grid-column: 2;
        justify-self: end;
      }

      .feedback-highlight-content{
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}
