.event-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 2em 1em;
  .event-main {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    .event-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
    .divider {
      background-color: $primary-clay;
      width: 100%;
      height: 0.15em;
      border: none;
      margin-top: 2em;
    }
    .image-square {
      width: 300px;
      height: 300px;
      img {
        object-fit: cover;
        object-position: center;
        width: 300px;
        height: 300px;
      }
    }

    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: $primary-forest;
      cursor: pointer;
    }
    p {
      margin: 0.5em 0;
      max-width: 475px;
    }

    a:visited {
      color: $primary-forest;
    }

    a:hover {
      text-decoration: underline;
    }

    .arrow-btn {
      color: $primary-forest;
      font-size: 2em;
      align-self: flex-end;
      cursor: pointer;
      margin-top: 0.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  .event-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em 0;
    .event-main {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 2em 0;

      .event-info {
        margin-left: 2em;
      }
      a {
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
      }
    }
  }
}
