//hero 
.hero{
    max-width: 1920px;
    max-height: 400px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    .hero-overlay{
        position: absolute;
        margin: 0 auto 5em auto;
        padding: 0 2em;
        max-width: 1000px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .hero-title{
        background-color: rgba($primary-digital-white, 0.85);
        padding: .2em .5em;
        margin: 0 1em;
        }

    @media screen and (min-width: 768px){
        max-height: 500px;


        .hero-overlay{
            justify-content: start;
        }

        .hero-title{
            margin: 0;
        }
    }
        
    }




