//hero 
.hero{
    max-width: 1920px;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0 auto;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    .hero-overlay{
        position: absolute;
        margin: 0 auto 5rem auto;
        padding: 0 2rem;
        max-width: 1000px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: start;
    }

    .hero-title{
        font-weight: 400;
        font-size: 3rem;
        line-height: 5rem;
        background-color: $primary-digital-white;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 1rem;
        
        }

    @media screen and (min-width: 768px){
        height: 400px;
    }
        
    }




