//Primary colors
$primary-digital-black: #333333;
$primary-pear: #b7debd;
$primary-flamingo: #fac0b1;
$primary-sand: #e4e1db;
$primary-digital-white: #f1f0ed;
$primary-forest: #4b6455; 
$primary-mint: #dbeede; 
$primary-melon: #fcdfd8; 
$primary-digital-lollipop: #ff00ff;
$primary-pebble: #f1f0ed;
$primary-clay: #a5b1aa;
$primary-leather: #7c3647; 

