$box-shadow: 0 4px 4px rgba($primary-digital-black, 0.2);
$box-shadow-strong: 0 4px 4px rgba($primary-digital-black, 0.5);


$border-forest: 1px solid $primary-forest;
$border-leather: 2px solid $primary-leather;