$max-1920: 1920px;
$max-1000: 1000px;
$max-800: 800px;
$max-750: 750px;
$max-700: 700px;
$max-650: 650px;
$max-600: 600px;
$max-500: 500px;
$max-475: 475px;
$max-400: 400px;
$max-300: 300px;
$max-250: 250px;
$max-200: 200px;
$max-150: 150px;
$max-100: 100px;
$max-70: 70px;

$icons-sm: 18px;
$icons-md: 27px;
$icons-lg: 36px;
$icons-xl: 44px;


.smaller-input {
    width: 50%;
  }