$top-bottom-05: .5em 0;
$left-right-05: 0 .5em ;
$top-bottom-1: 1em 0;
$top-bottom-1-5: 1.5em 0;
$left-right-1: 0 1em ;
$top-bottom-2: 2em 0;
$left-right-2: 0 2em ;
$top-bottom-3: 3em 0;
$left-right-3: 0 3em ;
$top-bottom-4: 4em 0;
$left-right-4: 0 4em ;
$top-bottom-5: 5em 0;
$left-right-5: 0 5em ;


$topbottom-leftright-1-05: 1em .5em;

$top-bottom-0-auto:  0 auto;
$top-bottom-05-auto:  .5em auto;
$top-bottom-1-auto:  1em auto;
$top-bottom-2-auto:  2em auto;

$spacing-0: 0;
$spacing-05: .5em;
$spacing-1: 1em;
$spacing-1-5: 1.5em;
$spacing-2: 2em;
$spacing-2-5: 2.5em;
$spacing-3: 3em;
$spacing-3-5: 3.5em;
$spacing-4: 4em;
$spacing-4-5: 4.5em;
$spacing-5: 5em;
$spacing-5-5: 5.5em;
$spacing-6: 6em;
$spacing-6-5: 6.5em;
$spacing-7: 7em;
$spacing-7-5: 7.5em;
$spacing-8: 8em;
$spacing-8-5: 8.5em;
$spacing-9: 9em;
$spacing-9-5: 9.5em;

