.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $max-1000;
  margin: 2em 1em 4em 1em;
  padding: 2em 1em;
  background-color: $primary-sand;
  box-shadow: $box-shadow;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .comment-section {
    margin: 2em auto 4em auto;
  }
}
  

