.comments {
    max-width: $max-750;
    width: 100%;
 
    h2{
        text-align: center;
        padding: 1em 0 2em 0;
    }

    .divider {
      background-color: $primary-clay;
      width: 100%;
      height: 0.15em;
      border: none;
      margin-top: $spacing-2;
    }
  .comment {
    text-align: left;
    padding: $top-bottom-1;
  }

  .comment-content{
    padding: $top-bottom-2;
    max-width: $max-650;
    width: 100%;
    margin: $top-bottom-0-auto;
  }
}
