footer {
  background-color: $primary-digital-black;
  padding: 1em 0 1em 0;

  .footer-links {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: .5em 0;
  }
  .footer-links-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: .5em 0;
    a {
      padding: 0 0.5em;
      font-size: 3em;
      color: $primary-digital-white;
    }
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    p,
    a {
      color: $primary-digital-white;
      text-align: center;
    }
  }
  
}

.footer-logo {
  height: 1em;
  width: auto;
  margin: 0 auto;
  padding: 1em 0;
}

@media screen and (min-width: 768px) {
  footer {
 
    .footer-contact {
        width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
