.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $top-bottom-2;
  margin: $left-right-1;
  text-align: center;
  img {
    width: 100%;
    max-width: $max-70;
  }
}

.error-link {
  color: $primary-digital-white;
  background-color: $primary-forest;
  text-decoration: none;
  padding: $spacing-05;
  box-shadow: $box-shadow;
  &:hover {
    color: $primary-digital-white;
  }
  &:visited {
    color: $primary-digital-white;
  }
}

@media screen and (min-width: 768px) {
  .error404 {
    padding: $top-bottom-5;

    img {
      width: 100%;
      max-width: $max-100;
    }
  }
}
