.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  margin: 0 1em;
  text-align: center;
  img {
    width: 100%;
    max-width: 70px;
  }
}

.error-link {
  color: $primary-digital-white;
  background-color: $primary-forest;
  text-decoration: none;
  padding: 0.5em;
  box-shadow: 0 4px 4px rgba($primary-digital-black, 0.2);
  &:hover {
    color: $primary-digital-white;
  }
  &:visited {
    color: $primary-digital-white;
  }
}

@media screen and (min-width: 768px) {
  .error404 {
    padding: 5em 0;

    img {
      width: 100%;
      max-width: 100px;
    }
  }
}
