.event-wrapper {
  max-width: $max-1000;
  margin: $top-bottom-0-auto;
  padding-bottom: $spacing-2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  .adress{
    white-space: pre-line;
  }

}

.event-sidebar {
  max-width: $max-300;
  height: max-content;
  box-sizing: border-box;
  background-color: $primary-sand;
  margin: $top-bottom-0-auto;
  margin-bottom: $spacing-2;
  padding: $spacing-1-5;
  box-shadow: $box-shadow-strong;
}

.event-sidebar-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: $top-bottom-0-auto;
  padding: $top-bottom-2;
  a {
    font-size: 3em;
    color: $primary-forest;
  }
}

.space{
    padding-bottom: $spacing-05;
}


@media screen and (min-width: 768px) {
  .event-wrapper {
    grid-template-columns: 1fr 300px;
  }
  .event-sidebar {
    margin: $top-bottom-4;
  }
}
