.event-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

}

.event-sidebar {
  max-width: 300px;
  box-sizing: border-box;
  background-color: $primary-sand;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1.5em 1.5em;
  box-shadow: 1px 2px 4px rgba($primary-digital-black, 0.4);
}

.event-sidebar-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;
  a {
    font-size: 3em;
    color: $primary-forest;
  }
}

.space{
    padding-bottom: .5em;
}

.about-contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
  padding: 2em;
}

@media screen and (min-width: 768px) {
  .event-wrapper {
    grid-template-columns: 1fr 300px;
  }
  .event-sidebar {
    margin: 4em 0;
  }
}
