.upcoming-events-container {
  background-color: $primary-sand;
}
.upcoming-event-spotlight-h2 {
  text-align: center;
  padding-top: 2em;
}
.upcoming-event-spotlight-main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  a {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $primary-forest;
    cursor: pointer;
  }

  a:visited {
    color: $primary-forest;
  }

  a:hover {
    text-decoration: underline;
  }

  .arrow-btn {
    color: $primary-forest;
    font-size: 2em;
    align-self: center;
    cursor: pointer;
    padding-left: 2em;
  }
}

@media screen and (min-width: 768px) {
  .upcoming-event-spotlight-h2 {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .upcoming-event-spotlight-main {
    h3 {
      font-size: 1.5em;
    }
    img {
      height: 400px;
    }
  }
}
