.contact-card {
  
  a {
    color: $primary-forest;
  }
  a:visited{
    color: $primary-forest;
  }
  a:hover{
    color: $primary-digital-black;
  }
  p {
    margin: 0;
    padding: 0.2em 0;
  }

  .event-sidebar-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2em 0;
    a {
      font-size: 3em;
      color: $primary-forest;
    }
  }
}

.contact-img {
  height: auto;
  width: 150px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 4px 4px rgba($primary-digital-black, 0.4);
  margin: 0 auto;
}
