.contact-card {
  
  a {
    color: $primary-forest;
  }
  a:visited{
    color: $primary-forest;
  }
  a:hover{
    color: $primary-digital-black;
  }
  p {
    margin: 0;
    padding: 0.2em 0;
  }
}

.contact-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 4px 4px rgba($primary-digital-black, 0.4);
  margin: 0 auto;
}
