.contact-card {
  
  a {
    color: $primary-forest;
  }
  a:visited{
    color: $primary-forest;
  }
  a:hover{
    color: $primary-digital-black;
  }
  p {
    margin: $spacing-0;
    padding: 0.2em 0;
  }
}

.contact-img {
  height: $max-150;
  width: $max-150;
  object-fit: cover;
  object-position: center;
  box-shadow: $box-shadow-strong;
  margin: 0 auto;
}
