.waiting-list {
  width: 100%;
  margin: 0 auto;
  background-color: $primary-leather;
  padding: 2em 0;
  .form-container {
    max-width: 1000px;
    margin: 0 1em;
    padding: 1em 0.5em;
    background-color: $primary-digital-white;
    box-shadow: 0 4px 4px rgba($primary-digital-black, 0.3);
  }
  p,
  h2 {
    color: $primary-digital-black;
    text-align: center;
  }
  .error {
    background-color: $primary-leather;
    color: $primary-digital-white;
    font-size: 0.8em;
    font-weight: 700;
    padding: 0.5em;
    margin: 1em auto;
    position: relative;
    max-width: 1000px;
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-child {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 1em;
    }
    label {
      color: $primary-digital-black;
      margin: 0.5em 1em;
    }

    input {
      border: 1px solid $primary-forest;
      padding: 0.8em;
      margin: 0 1em;
      background-color: $primary-digital-white;

      &:focus {
        outline: 2px solid $primary-leather;
      }
    }

    ::placeholder {
      color: rgba($primary-digital-black, 0.5);
      font-size: 1em;
    }

    button {
      background-color: $primary-forest;
      color: $primary-digital-white;
      padding: 0.6em;
      border: none;
      font-size: 1em;
      cursor: pointer;
      margin: 0 1em;
      display: block;
      width: 50%;
      align-self: center;
      box-shadow: 0 2px 4px rgba($primary-digital-black, 0.5);
    }
    button:hover {
      background-color: $primary-flamingo;
      color: $primary-digital-black;
    }
  }
}
@media screen and (min-width: 768px) {
  .waiting-list {
    padding: 4em 0;

    .form-container {
      margin: 0 auto;
      padding: 2em 0;
    }
    form {
      flex-direction: row;
      justify-content: center;

      .form-child {
        margin: 0;
      }
      button {
        width: 20%;
        align-self: flex-end;
      }
    }
  }
}
