//startpage Cards

.startpage-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding: 2em 0 5em 0;
  max-width: 1000px;
  width: 100%;
  gap: 1em;
}

.startpage-card {
  background-color: $primary-mint;
  box-shadow: 0 2px 4px rgba($primary-digital-black, 0.2);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


  img {
    height: 70px;
    width: auto;
    padding: 1em 0;
  }

  h2,
  p {
    font-size: 14px;
    margin: 0;
    
    line-height: 1.5em;
   
  }

  .startpage-card-link {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-forest;
    font-size: 2em;
    text-decoration: none;
    padding: 0 .5em;
    text-align: center;

    .arrow {
      align-self: flex-end;
      margin: 0.2em;
      padding: 0 0.5em;
    }
  }

  a:hover{
    text-decoration: underline;
  }
}

@media screen and (min-width: 1000px) {
  .startpage-cards-container {
    justify-content: space-between;
  }
}
