//header 

.header{
    display: flex;
    box-shadow: 0 2px 4px rgba($primary-digital-black,0.2);
    background-color: $primary-sand;
    height: 4rem;
    justify-content: space-between;
    z-index: 99;
    position: relative;

    a{
        align-self: center;
    }
}

.logo{
    height: 2rem;
    width: auto;
    padding-left: 1rem;
}

.nav-btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.menu-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}
.menu-btn{
    color: $primary-digital-black;
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
    
    
}

.menu-btn:hover{
    color: $primary-digital-lollipop;
}

.menu-btn-text{
    display: none;
}

@media screen and (min-width: 768px){
    .header{
        height: 5rem;
    }

    .logo{
        height: 3rem;
        width: auto;
        padding-left: 3rem;
    }

    .menu-btn-container{
        padding-right: 3rem;
    }
    .menu-btn-text{
        display: block;
        margin: 0;
        font-size: .8rem;
    }

    .greyout{
        width: 100vw;
        height: 100vh;
        background-color: rgba($primary-digital-black, 0.5);
        position: fixed;
        display: block;
        animation: greyout 1s ease 0s 1 normal forwards;;
        cursor: pointer;
        z-index: 1;
    }
    @keyframes greyout {
        0% {
            opacity: 0;

        }
    
        100% {
            opacity: 1;

        }
    }

}
    
