//header 

#header{
    display: flex;
    box-shadow: 0 2px 4px rgba($primary-digital-black,0.2);
    background-color: $primary-sand;
    height: 4rem;
    justify-content: space-between;
    z-index: 99;
    position: relative;
}

.logo{
    height: 2rem;
    width: auto;
    padding-left: 1rem;
    align-self: center;
}

.menu-btn{
    color: $primary-digital-black;
    font-size: 2rem;
    align-self: center;
    padding-right: 1rem;
    
    
}



@media screen and (min-width: 768px){
    
}
    
