//header 

.header{
    display: flex;
    box-shadow: $box-shadow;
    background-color: $primary-sand;
    height: $spacing-4;
    justify-content: space-between;
    z-index: 99;
    position: relative;
    padding: $top-bottom-05;

    a{
        align-self: center;
    }
}

.logo{
    height: 2em;
    width: auto;
    padding-left: $spacing-1;
}

.nav-btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.menu-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: $spacing-1;
}
.menu-btn{
    color: $primary-digital-black;
    height: $icons-xl;
    width: $icons-xl;
    align-self: center;
    cursor: pointer;
    
    
}

.menu-btn:hover{
    color: $primary-forest;
}

.menu-btn-text{
    display: none;
}

@media screen and (min-width: 768px){
    .header{
        height: 4em;
        
    }

    .logo{
        height: 3em;
        width: auto;
        padding-left: $spacing-3;
    }

    .menu-btn-container{
        padding-right: $spacing-3;
    }
    .menu-btn-text{
        display: block;
        margin: 0;
        font-size: .8em;
    }

    .greyout{
        width: 100vw;
        height: 100%;
        background-color: rgba($primary-digital-black, 0.5);
        position: absolute;
        display: block;
        animation: greyout 1s ease 0s 1 normal forwards;;
        cursor: pointer;
        z-index: 1;
    }
    @keyframes greyout {
        0% {
            opacity: 0;

        }
    
        100% {
            opacity: 1;

        }
    }

}
    
