//navigation drawer

.navigation-drawer{
    background-color: $primary-sand;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    a{
        color: $primary-digital-black;
        font-size: 1.25rem;
        line-height: 1.4rem;
        text-decoration: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    a:hover{
        color: $primary-digital-lollipop;
    }

    hr{
        background-color: $primary-digital-lollipop;
        width: 3rem;
        height: .15em;
        border: none;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}